/* site wide variables */

body {
  /* base colours */
  --hue-primary: 180;
  --sat-primary: 25%;
  --luma-main-bg: 80%;
  --color-main-bg: hsl(
    var(--hue-primary),
    var(--sat-primary),
    var(--luma-main-bg)
  );

  /* base measurements */
  --maxWidth-constrain: 80rem;
  --pad: clamp(0.5em, min(2vw, 4vh), 4em);
}

/* Begin Browser reset */

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
  margin: 0;
  padding: 0;
}
img,
fieldset,
object {
  border: none;
}
*,
*:after,
*:before {
  flex: 1 0 auto; /* safari bugfix */
  box-sizing: border-box;
}
button,
label {
  cursor: pointer;
}
html,
body {
  height: 100%;
}

hr {
  display: none;
}
body,
button,
input,
table,
textarea,
select {
  font: normal 1em/1.5 "poppins", arial, helvetica, sans-serif;
}

/* End Browser reset */

/* Unify focus style */

button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}

/* Main styles */

#fauxBody {
  background-color: var(--color-main-bg);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

#fauxBody > header,
#fauxBody > footer {
  padding: 0.5rem 1rem;
  flex-grow: 0;
}
#fauxBody > header {
  display: flex;
}

h1 {
  font-size: 1.5em;
  line-height: 2;
}

h1 ~ * {
  flex-grow: 0;
}

#top nav {
  padding: 0.75em 0;
}

#top li {
  display: inline;
  list-style: none;
  margin-left: 1.5em;
}

#top li a {
  transition: transform 0.3s;
}

#top a {
  display: inline-block;
  text-decoration: none;
}

#top li a:focus,
#top li a:hover {
  transform: scale(1.25);
}

main > section {
  max-width: var(--maxWidth-constrain);
  margin: 4em auto;
  padding: 0 var(--pad);
}

main h2 {
  font-size: 2em;
}

.grid {
  min-height: 200px;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
  grid-gap: 0.5em;
}

.card {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem var(--pad);
  gap: clamp(1rem, var(--pad), 2rem);
}

#fauxBody > footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: min(1em, var(--pad));
  padding: 1rem;
  text-align: center;
}

#fauxBody > footer li {
  list-style: none;
  padding: 0.25em 0;
}

#fauxBody > footer a {
  display: inline-block;
  transition: transform 0.3s;
}

#fauxBody > footer a:focus,
#fauxBody > footer a:hover {
  transform: scale(1.1);
}

#fauxBody > footer section:first-child {
  width: 100%;
  padding: 0.25em 0;
}
