<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <script type="module" src="https://cdn.jsdelivr.net/npm/@microsoft/fast-components/dist/fast-components.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/static/screen.css" media="screen" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" media="screen,print">
        <title>thejeffism</title>
    </head>
    <body>
        <header>
            <h1><a href="/">The Jeffism</a></h1>
            <img class="img" src="/static/20200619_Canon7DMKII_001.jpg" />
        </header>

        <nav>
            <ul>
                <li><a href="about">About Me</a>
                <li><a href="https://medium.com/@sentinel1909">Writing</a>
                <li><a href="projects">Projects</a>
                <li><a href="https://github.com/sentinel1909">GitHub</a>
            </ul>

        {% block content %}{% endblock content %}

        <footer>
            <p>&copy; <span id="copyright-year"></span> Jeffery D Mitchell All Rights Reserved</p>
            <nav>
                <ul>
                    <li><a href="https://twitter.com/sentinel1909">Twitter</a>
                    <li><a href="https://instagram.com/thesentinel1909">Instagram</a>
                </ul>
            </nav>
            <p>Site built with Rust, Rocket, Tera, and Docker...all hosted at <a href="https://railway.app">Railway</a>
        </footer>
        <script src="/static/scripts.js"></script>
    </body>
</html>