<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" type="text/css" href="/static/screen.css" media="screen" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" media="screen,print">
        <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
        <title>thejeffism</title>
    </head>
    <body>
        <div id="fauxBody">
            <header id="top">
                <h1><a href="/">The Jeffism</a></h1>
                <button type="button" id="mainMenuOpen" hidden></button>
                <nav>
                    <ul>
                        <li><a href="/about">About Me</a>
                        <li><a href="/writing">Writing</a>
                        <li><a href="/projects">Projects</a>
                        <li><a href="/music">Music</a>
                        <li><a href="/photography">Photography</a>
                    </ul>
                </nav>
            </header>

            {% block content %}{% endblock content %}

            <footer>
                <section>
                    &copy; {{ copyright_year }} Jeffery D Mitchell All Rights Reserved
                </section>
                <section>
                    <ul>
                        <li><a href="https://twitter.com/sentinel1909" target="_blank">Twitter</a></li>
                        <li><a href="https://instagram.com/thesentinel1909" target="_blank">Instagram</a></li>
                        <li><a href="https://github.com/sentinel1909" target="_blank">GitHub</a></li>
                    </ul>
                </section>
            </footer>
        </div>
        <script src="/static/scripts.js"></script>
    </body>
</html>