{% extends "base" %}

{% block content %}

    <main>
        <section>
            <article>
                <h2>Music</h2>
                {{ content }}
            </article>
        </section>
    </main>

{% endblock content %}