{% extends "base" %}

{% block content %}

    <main>
        <section>
            <article>
                {% block post %} {% endblock post %}
            </article>
        </section>
    </main>

{% endblock content %}
